[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyjwt = "*"
mysql-connector-python = "*"
flask-expects-json = "*"
bcrypt = "*"
flask-limiter = "*"
flask-cors = "*"
python-dotenv = "*"
bfa = "*"

[dev-packages]

[requires]
python_version = "3.10"
